.Message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100vh;
  }
  
  .message-box {
    width: 400px;
    height: 400px;
    overflow-y: auto;
    padding: 10px;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .input-box {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .input-box > * {
    margin-right: 10px;
  }
  